body {
    height: 100vh;
    background-image: url("./src/Fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Podkova', serif;
    color: white;
    position: relative;
    justify-content: center;
}

#header {
    text-align: center;
    margin: auto;
    top: 15.9em;
    position: relative;
    width: 400px;
    height: 400px;
}

#Titulo {
    text-align: center;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.label {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav ul {
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

footer {
    margin-top: 13.3em;
    width: 100%;
    text-align: right;
}

#tabla {
    width: 100%;
}

td,
th {
    width: 30%;
}

p {
    text-align: center;
}

img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 20px;
    align-items: center;
}

input {
    border-radius: 15px;
    border: 2px solid rgb(182, 125, 20);
    padding: 0.5em;
}

#mensaje {
    max-width: 500px;
    width: 100%;
    height: 240px;
    border-radius: 15px;
    border: 2px solid rgb(182, 125, 20);
    padding: 0.5em;
}

button {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 10px;
    color: black;
    background-color: peru;
    border-radius: 16px;
    border: 2px solid rgb(182, 125, 20);
}

#contac {
    text-align: center;
    margin: auto;
    top: 5.9em;
    position: relative;
    width: 400px;
    height: 400px;
}